ROOM_ID: "ROOM_ID"
API_KEY: "API_KEY"
BOT_ID: "BOT_ID"
SECRET_JWT: ""
PUBLIC_JWT: ""
SECRET_KEY_BASE: "SECRET_KEY_BASE"
REPORT_REMIND_TIME: "REPORT_REMIND_TIME"
MEETING_REMIND_TIME: "MEETING_REMIND_TIME"
FRONTEND_HOST: "http://localhost:3001"
BACKEND_HOST: "http://localhost:3000"

EMRES_DATABASE_USERNAME: "postgres"
EMRES_DATABASE_PASSWORD: ""
EMRES_DATABASE_HOSTNAME: "localhost"
